# Ignora todo el contenido de la carpeta processed
/data/processed/

# Pero NO ignores los archivos .dvc
!/data/processed/.dvc


models/
# *.nii
# *.nii.gz

# Archivos de cache
# .dvc/cache/
__pycache__/

# Logs de entrenamiento y resultados
logs/
reports/

# Modelos binarios de PyTorch
*.pt
*.pth

# Entornos virtuales
.venv/
venv/
env/