# Directorios de datos y modelos (DVC los versiona, Git los ignora)
data/
models/
# *.nii
# *.nii.gz

# Archivos de cache
# .dvc/cache/
__pycache__/

# Logs de entrenamiento y resultados
logs/
reports/

# Modelos binarios de PyTorch
*.pt
*.pth

# Entornos virtuales
.venv/
venv/
env/